//---------------------------------------------------------
//BREAKPOINTS :
// zero-px: 0px,
// mobile-max: 480px,
// small-devices-min: 481px,
// small-devices-max: 767px,
// small-tablet-min: 768px,
// small-tablet-max: 991px,
// large-tablet-and-laptop-min: 992px,
// large-tablet-and-laptop-max: 1199px,
// desktop-min: 1200px,
// desktop-max: 1919px,
// extra-large-screen-min: 1920px

//----------------------------------------------------------
//utils
@import "../../utils/Mixins/mixin-mediaqueries";

//----------------------------------------------------------
//media queries
@include responsive(zero-px, small-devices-max) {
    .footer {
        height: 185px;
    }
}

//----------------------------------------------------------
//media queries with height
@media screen and (max-height: 900px) and (max_width: 992px) {
    .footer {
        height: 180px;
    }
}

@media screen and (max-height: 650px) {
    .footer {
        height: 160px;
    }
}
