//----------------------------------------------------
//utils sass
@import "../utils/variables";

//----------------------------------------------------
//bases footer
.footer {
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    height: 215px;
    bottom: 2px;
    width: 100%;
    min-width: 280px;
}
