//-------------------------------------------
//import utils
@import "../utils/variables";

//-------------------------------------------
//base style for the header
.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 15%;
    width: 100%;

    //h1 etienne ginet
    &__title {
        text-align: center;
        position: relative;
        top: -40px;
        left: -10px;
        z-index: 220;
        font-size: 65px;
        color: $color-text-clear;
        font-family: "Permanent Marker", cursive;
        text-shadow: 0px 0px 10px white;

        &:hover {
            animation: scaleLinkAnim 300ms ease-in-out both;
        }

        //title link
        &__link {
            text-decoration: none;
        }

        //dark theme
        &.dark {
            color: $fluo-color;
            text-shadow: none;
        }
    }
}
