//---------------------------------------------------------
//BREAKPOINTS :
// zero-px: 0px,
// mobile-max: 480px,
// small-devices-min: 481px,
// small-devices-max: 767px,
// small-tablet-min: 768px,
// small-tablet-max: 991px,
// large-tablet-and-laptop-min: 992px,
// large-tablet-and-laptop-max: 1199px,
// desktop-min: 1200px,
// desktop-max: 1919px,
// extra-large-screen-min: 1920px

//------------------------------------------------------
//utils
@import "../../../../utils/map";
@import "../../../../utils/Mixins/mixin-mediaqueries";

//------------------------------------------------------
//responsive style for the menu
@include responsive(small-tablet-min, large-tablet-and-laptop-max) {
    .menu {
        &__container {
            scale: 0.8;
            margin-top: 15px;
            margin-left: 20px;

            &__open {
                scale: 0.8;
                margin-top: 15px;
                margin-left: 20px;
            }
        }
    }
}

@include responsive(small-tablet-min, small-tablet-max) {
    .menu {
        &__container {
            scale: 0.6;
            margin-top: 10px;
            margin-left: 10px;

            &__open {
                scale: 0.6;
                margin-top: 10px;
                margin-left: 15px;
            }
            &__links {
                top: 145px;
                margin-left: 250px;
                scale: 1.5;
            }
        }
    }
}
@include responsive(zero-px, small-devices-max) {
    .menu {
        &__container {
            scale: 0.6;
            margin-top: 5px;
            margin-left: 10px;

            &__open {
                scale: 0.6;
                margin-top: 5px;
                margin-left: 10px;
            }
            &__links {
                top: 145px;
                margin-left: 250px;
                scale: 1.5;
            }
        }
    }
}
