//------------------------------------------------------------
//utils
@import "../../utils/Keyframes/keyframes";
@import "../../utils/variables";
//------------------------------------------------------------
//background of the page
.waitBack {
    & > img {
        position: absolute;
        object-fit: cover;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 300;
        margin-bottom: 0px;
    }
}

//main block container
.waitContainer {
    position: absolute;
    top: 100px;
    bottom: 0px;
    width: 100%;
    background-size: cover;
    z-index: 300;
    overflow: auto;

    //block with the content
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(43deg, #ff4500, #ffcc00);
        width: 60%;
        margin: auto;
        border-radius: 30px;
        padding: 50px;
        margin-top: 100px;
        margin-bottom: 50px;

        //dark theme
        &.dark {
            color: $fluo-color;
            border: 2px $fluo-color solid;
            box-shadow: 0px 0px 7px $fluo-color;

            background: linear-gradient(
                43deg,
                darken(#0b444e, 20%),
                lighten(#0b444e, 5%)
            );

            //title
            & > h1 {
                text-shadow: 0px 0px 3px black;
            }

            //text
            & > p {
                text-shadow: 0px 0px 3px black;
            }
        }

        //image in the content block
        &__image {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 2px black solid;
            box-shadow: 0px 0px 5px black;

            //dark theme
            &.dark {
                border: 1px $fluo-color solid;
                box-shadow: 0px 0px 5px $fluo-color;
                opacity: 0.7;
            }
        }

        //title
        & > h1 {
            font-size: 40px;
            text-shadow: 0px 0px 3px white;
            text-align: center;
        }

        //text
        & > p {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            text-shadow: 0px 0px 3px white;
        }

        //link
        &__link {
            border: 1px black solid;

            color: black;
            text-decoration: none;
            font-family: "Rubik", sans-serif;
            font-weight: bold;
            padding: 15px;
            border-radius: 20px;
            box-shadow: 0px 0px 7px black;

            background: radial-gradient(
                lighten(#ededed, 10%),
                darken(#ededed, 20%)
            );

            //darktheme
            &.dark {
                color: $fluo-color;
                text-shadow: 0px 0px 3px black;
                border: 1px solid $fluo-color;
                box-shadow: 0px 0px 7px $fluo-color;

                background: radial-gradient(
                    lighten(#0b444e, 10%),
                    darken(#0b444e, 20%)
                );

                &:hover {
                    box-shadow: 0px 0px 15px $fluo-color;
                    animation: scaleLinkAnim 300ms ease-in-out both;
                }
            }

            &:hover {
                box-shadow: 0px 0px 7px white;
                animation: scaleLinkAnim 300ms ease-in-out both;
            }
        }
    }
}
