//--------------------------------------------
//code for the code has the same behavior with all browsers
@import "./utils/map";
@import "./utils/variables";
@import "./utils/Keyframes/goalKeyframe";
@import "./utils/Keyframes/keyframes";
@import "./utils/Keyframes/keyframesBack";
@import "./utils/Keyframes/keyframesMenu";
@import "./utils/Keyframes/keyframesThemeLangue";
@import "./utils/Mixins/goalMixin";
@import "./utils/Mixins/mainMixin";
@import "./utils/Mixins/mixin-mediaqueries";
@import "./utils/Mixins/mixinAbout";
@import "./utils/Mixins/mixinBack";
@import "./utils/Mixins/mixinFooter";
@import "./utils/Mixins/mixinHeader";
@import "./utils/Mixins/mixinPositionPages";
@import "./utils/Mixins//projectMixin";
@import "./vendors/normalize";
@import "./bases/bases";
@import "./components/deskFooter/desk";
@import "./components/deskFooter/key";
@import "./components/deskFooter/keyboard";
@import "./components/deskFooter/light";
@import "./components/deskFooter/linksDesk";
@import "./components/deskFooter/mouse";
@import "./components/deskFooter/desk-media/deskMediaQueries";
@import "./components/deskFooter/desk-media/keyboardMediaQueries";
@import "./components/deskFooter/desk-media/keyMediaQueries";
@import "./components/deskFooter/desk-media/lightMediaQueries";
@import "./components/deskFooter/desk-media/linkDeskMediaQueries";
@import "./components/deskFooter/desk-media/mouseMediaQueries";
@import "./components/screen/back";
@import "./components/screen/Header/langueButton";
@import "./components/screen/Header/menu";
@import "./components/screen/Header/themeButton";
@import "./components/screen/Header/threeDcube";
@import "./components/screen/Header/headerMedia/langueButtonMediaQueries";
@import "./components/screen/Header/headerMedia/menuMediaQueries";
@import "./components/screen/Header/headerMedia/themebuttonMediaQueries";
@import "./components/screen/mediaQueriesScreen/backMediaQueries";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/screen";
@import "./layout/media_queries/footerMediaQueries";
@import "./layout/media_queries/headerMediaQueries";
@import "./layout/media_queries/screenMediaQueries";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/error";
@import "./pages/goals";
@import "./pages/home";
@import "./pages/resume";
@import "./pages/trainings";
@import "./pages/skills";
@import "./pages/projects";
@import "./pages/graphics";
@import "./pages/mediaQueriesPages/contactMediaQueries";
@import "./pages/mediaQueriesPages/errorMediaQueries";
@import "./pages/mediaQueriesPages/goalsMediaQueries";
@import "./pages/mediaQueriesPages/mediaQueriesAbout";
@import "./pages/mediaQueriesPages/mediaQueriesHome";
@import "./pages/mediaQueriesPages/resumeMediaQueries";
@import "./pages/mediaQueriesPages/trainingsMediaQueries";
@import "./pages/mediaQueriesPages/skillsMediaQueries";
@import "./pages/mediaQueriesPages/projectMediaQueries.scss";
@import "./pages/mediaQueriesPages/graphicsMediaQueries";
@import "./pages/wait/wait";
@import "./pages/wait/MediaWait/wait_media_queries";
