$breakpoint: (
    //zero
    zero-px: 0px,
    //mobile
    mobile-max: 480px,
    //small devices
    small-devices-min: 481px,
    small-devices-max: 767px,
    //small tablets
    small-tablet-min: 768px,
    small-tablet-max: 991px,
    //large tablet and laptops
    large-tablet-and-laptop-min: 992px,
    large-tablet-and-laptop-max: 1199px,
    //desktop
    desktop-min: 1200px,
    desktop-max: 1919px,
    //extra large screens
    extra-large-screen-min: 1920px
);
