//-------------------------------------------
//Colors
//main colors
$main-back-color: #0b444e;
$main-screen-back-color: #60d4e8;
$fluo-color: rgb(112, 249, 242);
$color-text-clear: #2e4053;

//desk
$main-color-desk: #b55627;

$size-grip: 15px;
$size-width-drawer: 33.33%;

//key and keyboard
$color-key: white;
$color-border-key: rgb(222, 220, 220);
$color-keyboard: rgb(194, 194, 194);

//mouse and mousepad
$color-mouse: rgb(232, 232, 232);
$color-pad: black;

//light
$color-light: rgb(246, 246, 121);

//----------------------------------------------
//screen
//Main
$border-screen: rgb(178, 178, 178);
$color-screen: black;

//menu
$axeZ-Cube: 12.5px;
$colo-cube-one: #ff4500;
$colo-cube-two: #ffcc00;
$color-rod-menu: rgb(222, 220, 220);
$color-rod-menu-dark: black;
$color-back-menu: #ededed;

//--------------------------------------------------
//about
$main-color-about: #ffb366;
$secondary-color-about: #e6d4b1;

//home
$main-color-home: #ededed;

//tranings
$color-main-trainings: #ff4500;
$color-secondary-trainings: #fff2e6;

//goals
$color-main-goals: #ff4500;
$color-secondary-goals: #fff2e6;

//contact
$color-back-contact: #ffb366;

//-------------------------------------
//project

//specific color for projects
$primary-booki: rgb(38, 109, 217);
$primary-ohmyfood: #9356dc;
$primary-laPanthere: #d14313;
$primary-Kanap: rgb(25, 142, 210);
$primary-HotTakes: rgb(249, 82, 41);
$primary-Kasa: #ff6060;
$primary-Folio: #ffa200;
