//---------------------------------------------------------
//BREAKPOINTS :
// zero-px: 0px,
// mobile-max: 480px,
// small-devices-min: 481px,
// small-devices-max: 767px,
// small-tablet-min: 768px,
// small-tablet-max: 991px,
// large-tablet-and-laptop-min: 992px,
// large-tablet-and-laptop-max: 1199px,
// desktop-min: 1200px,
// desktop-max: 1919px,
// extra-large-screen-min: 1920px

//------------------------------------------------------
//import utils
@import "../../../utils/Mixins/mixin-mediaqueries";
@import "../../../utils/map";

//------------------------------------------------------
//laptop
@include responsive(large-tablet-and-laptop-min, large-tablet-and-laptop-max) {
    .light {
        right: 12.5%;
    }
}

//tablet
@include responsive(small-tablet-min, small-tablet-max) {
    .light {
        right: 13%;
        scale: 0.65;
    }
}

//phone
@include responsive(small-devices-min, small-devices-max) {
    .light {
        right: 8%;
        scale: 0.65;
    }
}

//very small devices
@media screen and (min-width: 360px) and (max-width: 480px) {
    .light {
        right: 8%;
        scale: 0.65;
    }
}

@media screen and (max-width: 360px) {
    .light {
        scale: 0;
    }
}
